@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.prose-content {
  @apply text-gray-800;
}

.prose-content h1,
.prose-content h2,
.prose-content h3 {
  @apply text-gray-900;
}

.prose-content code {
  @apply bg-gray-100 px-2 py-1 rounded text-sm font-mono;
}

.prose-content pre {
  @apply bg-gray-900 text-gray-100 p-4 rounded-lg overflow-x-auto;
}

